.btn-custom {
	background:#ffcc00;
	transition:all .05s;
}
.btn-custom a, a, a:visited {
	color:#000;
}
.btn-custom:hover {
	background:#444444;
	color:#fefefe;
}
.form-control {
  font-size:14px;
  min-width:240px!important;
  margin-right:1em;
}
.searchField {
  border-radius:0;
}
.resultsRow {
	margin-top:2em;
}

@media (max-width: 574px) {
  .form-control {
	margin-bottom:1em;
  }
  .form-control input {
  	min-width:100%!important;
  }
}